extends layouts/main.jade
block body
    .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3
        .row
            .well
                .row
                    .col-xs-8.col-sm-8.col-md-9.col-lg-9
                        a(href='/home')
                            button.btn-lg.btn-default Home
                        a(href='/skills')
                            button.btn-lg.btn-default Skills
                        a(href='/arena')
                            button.btn-lg.btn-default Arena
                        a(href='/rating/exp')
                            button.btn-lg.btn-default Rating
                    .col-xs-4.col-sm-4.col-md-3.col-lg-3
                        a(href='/signout')
                            button.btn-lg.btn-danger Sign Out
        .row
            .panel.panel-default
                .panel-heading
                    h1 #{username}
                .panel-body
                    .row
                        .col-xs-4.col-sm-4.col-md-4.col-lg-4
                            .thumbnail
                                img(src='/images/#{profile_user.class}.jpg')
                        .col-xs-4.col-sm-4.col-md-4.col-lg-4
                            | lvl #{profile_user.lvl}
                            br
                            | exp #{profile_user.exp}
                            br
                            | class #{profile_user.class}
                            br
                            | hp #{profile_user.hp}
                            br
                            | battles end #{profile_user.battles_end}
                            br
                            | battles win #{profile_user.battles_win}
                            br
                            | winrate #{winrate}%
        .row
            .panel.panel-default
                .panel-heading
                    h4 Active battles
                .panel-body
                    if active_battles.length != 0
                        .row
                            table.table
                                thead
                                    tr
                                        th Nickname
                                        th Class
                                        th lvl
                                        th hp
                                        th winrate %
                                        th
                                        th
                                each active_battle in active_battles
                                    tbody
                                        tr.info
                                            td #{active_battle.username1}
                                            td #{active_battle.class}
                                            td #{active_battle.lvl}
                                            td #{active_battle.hp}
                                            td #{active_battle.winrate}
                                            td
                                                a(href='/battle' + active_battle._id)
                                                    button.btn-default Fight
                                            td
                                                form(action="/cancel" + active_battle._id method = "post" autocomplete="on")
                                                    input.btn-default(type="submit" value="Cancel")
                    else
                            | NO ACTIVE BATTLES!